

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
    align-content: center;
 
  }
  
  header{
       background-color: orange;
       color: white;
       padding: 10px;
  }
  header h1 {
    text-shadow: black 2px 2px 2px;
    text-align: center;
  }
  
  .FlexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    background-color: #2f1d58;
    height: 100vh;
    overflow: auto;
    flex-direction: row;
}

.FlexContainer div {
  display: flex;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  background-color: lightblue;
  text-align: center;
  align-content: center;
  align-self: center;
  padding: 20px;
}
.FlexContainer div:hover {
 background-color: rgb(173, 230, 181);
cursor: pointer;
}
  
a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 32px;
  text-shadow: black 3px 3px 3px;
  text-align: center;
 
}
  
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  main div{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    padding: 10px;
    background-color: #ff6200;
    justify-content: center;
    align-content: center;
    
  }
